h3{
    font-size: 45px;
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 6px;
    color: #4416c4;
    background-color: #e3e3e3;
}

p{
    font-size: 34px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-family: monospace;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #b80935;
    text-align:center;
    word-spacing: 8px
}